[submodule "lib/micropython"]
	path = lib/micropython
	url = https://github.com/calliope-edu/micropython
[submodule "lib/codal"]
	path = lib/codal
	url = https://github.com/lancaster-university/codal.git
